.black{
    background-color: black;
    width: 33.33vw;
    height: 98vh;
}

.yellow{
    background-color: yellow;
    width: 33.33vw;
    height: 98vh;
}

.red{
    background-color: red;
    width: 33.33vw;
    height: 98vh;
} 